html {
    font-family: sans-serif;
    line-height: 1.15;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
    background-color: transparent;
    border: none;
}

body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #EEE;
    margin: 0px;
}

a {
    color: #007acc;
    text-decoration: none !important;
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: none !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0px;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #636c72;
    text-align: left;
    caption-side: bottom;
}

textarea {
    resize: vertical;
}

th {
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: 0.25rem;
}

a>code {
    padding: 0;
    color: inherit;
    background-color: inherit;
}

small {
    font-size: 80%;
    font-weight: 400;
}

.block-title {
    margin-top: 20px;
}

.blue-text {
    color: #007acc;
    font-weight: bold;
}

.button-primary {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #3498DB;
    color: #3498DB;
    font-size: 14px;
    padding: 4px 10px;
    margin: 3px;
    transition: 0.2s all;
}

.button-primary:hover {
    color: #45a9ec;
    border-color: #45a9ec;
    box-shadow: 0 0 6px 0 rgba(35, 135, 202, 0.5), inset 0 0 6px 0 rgba(35, 135, 202, 0.5);
}

.button-primary:active {
    background-color: rgba(52, 152, 219, 0.3);
}

.button-success {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #2ECC71;
    color: #2ECC71;
    font-size: 14px;
    padding: 4px 10px;
    margin: 3px;
    transition: 0.2s all;
}

.button-success:hover {
    color: #3fdd82;
    border-color: #3fdd82;
    box-shadow: 0 0 6px 0 rgba(29, 187, 96, 0.5), inset 0 0 6px 0 rgba(29, 187, 96, 0.5);
}

.button-success:active {
    background-color: rgba(46, 204, 113, 0.3);
}

.button-error {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    font-size: 14px;
    padding: 4px 10px;
    margin: 3px;
    transition: 0.2s all;
}

.button-error:hover {
    color: #f85d4d;
    border-color: #f85d4d;
    box-shadow: 0 0 6px 0 rgba(214, 59, 43, 0.5), inset 0 0 6px 0 rgba(214, 59, 43, 0.5);
}

.button-error:active {
    background-color: rgba(231, 76, 60, 0.3);
}

.button-warning {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #E6B222;
    color: #E6B222;
    font-size: 14px;
    padding: 4px 10px;
    margin: 3px;
    transition: 0.2s all;
}

.button-warning:hover {
    color: #f7c333;
    border-color: #f7c333;
    box-shadow: 0 0 6px 0 rgba(213, 161, 17, 0.5), inset 0 0 6px 0 rgba(213, 161, 17, 0.5);
}

.button-warning:active {
    background-color: rgba(230, 178, 34, 0.3);
}

.button-default {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #7E7E7E;
    color: #7E7E7E;
    font-size: 14px;
    padding: 4px 10px;
    margin: 3px;
    transition: 0.2s all;
}

.button-default:hover {
    color: #8f8f8f;
    border-color: #8f8f8f;
    box-shadow: 0 0 6px 0 rgba(109, 109, 109, 0.5), inset 0 0 6px 0 rgba(109, 109, 109, 0.5);
}

.button-default:active {
    background-color: rgba(126, 126, 126, 0.3);
}

.model {
    width: 400px;
    position: fixed;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    background-color: #222;
    border: 1px solid rgba(153, 153, 153, 0.5);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.model>.header {
    margin-top: 6px;
    border-left: 3px solid #999;
    font-size: 16px;
    color: #999;
    padding: 0 10px;
    display: flex;
}

.model>.header>.title {
    flex-grow: 1;
}

.model>.header>.modal-control {
    transition: 0.2s all;
}

.model>.header>.modal-control:hover {
    text-shadow: 0 0 6px 0 rgba(153, 153, 153, 0.5);
}

.model>.content {
    color: #FFFFFF;
    margin: 10px 20px;
}

.model>.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}